.logo {
  width: 100xp;
  height: 50px;
}
.Welcome {
  position: absolute;
  font-size: 40px;
  top: 30px;
  left: 120px;
  color: yellow;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  .Welcome {
    display: block;
    font-size: 100px;
    top: 80px;
    left: 220px;
    color: yellow;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}

@media only screen and (min-width: 834px) {
  .Welcome {
    display: block;
    font-size: 120px;
    top: 60px;
    left: 330px;
    color: yellow;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
@media only screen and (min-width: 1443px) {
  .Welcome {
    display: block;
    font-size: 150px;
    top: 60px;
    left: 350px;
    color: yellow;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}

.imgostad {
  padding-top: 30px;
}
.button {
  padding: 30px;
  margin: 20px;
}
.footer {
  height: 300px;
}
.box {
  margin: 25px;
}

.childphoto {
  height: 530px;
}
.childprograms {
  padding-left: 20px;
  padding-top: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(33, 1, 54);
}
.span {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(33, 1, 54);
}
.book {
  margin: 20px;
}

.box1:hover {
  cursor: pointer;
}
